<a href="doctors-<%= category.key %>.html" class="category-card-link">
    <div class="category-card">
        <div class="category-icon"><%= category.icon %></div>
        <div class="category-name"><%= category.title %></div>
        <div class="category-description">
            <%= category.description %>
        </div>
        <div class="category-stats">
            <span><%= category.doctorCount %> 位專業醫師</span>
        </div>
    </div>
</a>